* {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}
html {
  --border: 2px solid rgb(22, 22, 22);
  --borderRadius: 4px;
  --button-outline: none;
  --input-caret-color: rgb(28, 194, 9);
  --input-transition: border-color 0.3s, background-color 0.3s, color 0.3s;
  --range-focus-background: rgb(195, 27, 27);
}
h1 {
  padding-block: 1rem;
}
input,
select {
  border: var(--border);
  border-radius: var(--borderRadius);
  margin-top: 1rem;
  width: 200px;
  padding-block: 0.4rem;
}

button {
  border: var(--border);
  border-radius: var(--borderRadius);
  margin-top: 1rem;
  cursor: pointer;
}
label {
  padding-right: 1rem;
}
textarea {
  border: var(--border);
  border-radius: var(--borderRadius);
  height: 150px;
  width: 200px;
}
span {
  padding-top: -2rem;
}
input,
textarea {
  caret-color: var(--input-caret-color);
  transition: var(--input-transition);
}
input:focus,
textarea:focus {
  outline: none;
  background-color: rgb(184, 184, 184);
}
input[type='range']:focus {
  background-color: var(--range-focus-background);
  outline: none;
}
