.title {
  border: var(--input);
  font-size: 1rem;
  font-weight: 600;
  padding: 0;
}
.card {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  flex-direction: column;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  align-items: center;
  justify-content: space-around;
  margin: 1rem;
  padding: 0.4rem;
  /* border: var(--border); */
  border-radius: var(--borderRadius);
  background: var(--inputBg);
}
.card-title {
  padding-block: 1rem;
  display: flex;
  justify-content: space-between;
  /* border: 2px solid red; */
  width: 100%;
  align-items: flex-start;
}
.genre {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-size: 1rem;
  font-weight: 600;
}
.genre-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  display: flex;
}
.description {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-block: 0.4rem;
  flex-wrap: wrap;
  word-wrap: break-word;
  word-break: break-word;
  max-height: 100px;
}
.image-upload {
  display: flex;
  min-width: 250px;
  max-height: 250px;
}
@media (min-width: 768px) {
  .card {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;

    background: var(--inputBg);
    height: auto;
    padding: 1rem 1.5rem;
  }
}
